.overlay {
  background-color: #fee;
  position: fixed;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 40%;
  // border: 1px solid #000;
  box-shadow: inset 0 5px 16px 16px rgba(rgb(236, 163, 163), 0.4);
  padding: 2rem;
  border-radius: 1.6rem;

  &_header {
    font-size: 2rem;
  }

  &_select {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
  }

  @media screen and (max-width: 700px) {
    width: 60%;
    height: 45%;
    left: 20%;
  }

  @media screen and (max-width: 400px) {
    width: 80%;
    left: 10%;
  }
}

.btn {
  margin: 4rem 1rem 0 0;
}
