.card {
  padding: 1.2rem;
  border: 1px solid #000;
  box-sizing: border-box;

  min-height: 20rem;
  min-width: 25rem;

  position: relative;
  &_details {
    &-text {
    }
  }
  &_flex {
    display: flex;
    gap: 1.2rem;
    align-items: flex-start;
    &-details {
      &--header {
        margin: 0.8rem 0 0 0;
        font-size: 1.6rem;
      }

      &--designation {
        font-size: 1.2rem;
      }
    }
    &-img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
    }
  }

  &::before {
    content: "";
    height: 2rem;
    width: 0.3rem;
    background-color: #0eb2e4;
    position: absolute;
    top: -10%;
    left: 50%;
  }
}
.employee {
  list-style: none;
  display: flex;

  margin: 0 2rem;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2rem 0;
  border-bottom: 2px solid #000;
}

.buttons {
  display: flex;
  gap: 10%;
  margin-bottom: 1rem;
  margin-left: auto;
  &_img {
    height: 1.8rem;
    width: 1.8rem;

    &:hover {
      cursor: pointer;
    }
  }
}
.expand {
  height: auto;
  position: relative;

  &::after {
    content: "";
    height: 2rem;
    width: 0.3rem;
    background-color: #0eb2e4;
    bottom: -10%;
    left: 50%;
    position: absolute;
  }
}
.right {
  margin-left: auto;
}
