.card {
  padding: 1.2rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 1.4rem;

  width: 25rem;

  &_details {
    &-text {
    }
  }
  &_flex {
    display: flex;
    gap: 1.2rem;
    align-items: flex-start;
    &-details {
      &--header {
        margin: 0.8rem 0 0 0;
        font-size: 1.6rem;
      }

      &--designation {
        font-size: 1.2rem;
      }
    }
    &-img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
    }
  }
}
.employee {
  list-style: none;
  display: flex;

  justify-content: space-between;
  position: relative;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin: 0 2rem;
  box-sizing: border-box;
  padding: 2rem;
  border: 1.5px solid rgb(214, 81, 81);
  border-left: none;
  border-right: none;

  border-radius: 2rem;

  @media screen and (min-width: 1200px) {
    justify-content: space-around;
  }
}

.expand {
  height: auto;
  background-color: #ec65a6;
  box-shadow: 0 16px 16px 10px rgba(#000, 0.04);

  border: none;
}
.right {
  margin: 0 auto;
}
.btn-primary {
  margin-bottom: 0.4rem;
}

.outside {
  border-bottom: 2px solid #000;
  padding: 2rem 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 4rem;
    width: 0.2rem;
    background-color: #000;
    top: -2rem;
    left: 50%;
  }
}

.btn {
  &_add,
  &_change {
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    margin-bottom: 0.4rem;
    color: #fff;
    border: none;
    transition: all ease 0.2s;
  }

  &_add {
    background-color: #06801c;

    &:hover {
      background-color: rgba(#06801c, 0.7);
    }
  }
  &_change {
    background-color: #891b13;
    &:hover {
      background-color: rgba(#891b13, 0.8);
    }
  }
  &_img {
    display: block;
    margin-left: auto;
    height: 1.8rem;
    width: 1.8rem;

    &:hover {
      cursor: pointer;
    }
  }
}
