<div class="main">
  <h1 class="main_header">Employee Details</h1>
  <div class="main_employee">
    <div class="card">
      <div class="card_details">
        <div class="card_flex">
          <img
            class="card_flex-img"
            [src]="rootEmployee.imageUrl"
            [alt]="rootEmployee.name"
          />
          <div class="card_flex-details">
            <h4 class="card_flex-details--header">{{ rootEmployee.name }}</h4>
            <p class="card_flex-details--designation">
              {{ rootEmployee.designation }}
            </p>
          </div>
        </div>

        <p class="card_details-text">
          <strong>ID: </strong> {{ rootEmployee.id }}
        </p>
        <p class="card_details-text">
          <strong>Email: </strong> <br />{{ rootEmployee.email }}
        </p>
        <p class="card_details-text">
          <strong> Subordinates: </strong>
          {{ rootEmployee.subordinates?.length }}
        </p>
      </div>
      <button class="btn_change" (click)="changeManager(rootEmployee)">
        Change manager
      </button>
      <button
        class="btn_add"
        (click)="addSub(rootEmployee)"
        [disabled]="
          rootEmployee.subordinates && rootEmployee.subordinates.length >= 5
        "
      >
        Add Subordinate
      </button>
    </div>
  </div>
</div>

<app-subordinate
  [subordinate]="subordinates"
  [expanded]="rootEmployee.isExpanded"
></app-subordinate>
<app-change-manager
  *ngIf="managerChanged"
  [data]="updatedEmp"
  (show)="managerChanged = $event"
></app-change-manager>
<app-add-overlay
  *ngIf="showAddOverlay"
  (show)="showAddOverlay = $event"
  [data]="updatedSub"
></app-add-overlay>
