<div class="main">
  <h1 class="main_header">Employee Details</h1>
  <div class="main_employee">
    <div class="card">
      <div class="card_details">
        <div class="card_flex">
          <img
            class="card_flex-img"
            [src]="rootEmployee.imageUrl"
            [alt]="rootEmployee.name"
          />
          <div class="card_flex-details">
            <h4 class="card_flex-details--header">{{ rootEmployee.name }}</h4>
            <p>{{ rootEmployee.designation }}</p>
          </div>
        </div>
        <p class="card_details-text">Email:{{ rootEmployee.email }}</p>
        <p class="card_details-text">
          Subordinates: {{ rootEmployee.subordinates?.length }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>
<app-subordinate
  [subordinate]="subordinates"
  [expanded]="rootEmployee.isExpanded"
></app-subordinate>
